<template>
    <div>
        <a class="btn btn-success" href="/" role="button">Home</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Barang Name</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(transaction,index) in transactionView" :key="index">
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.customerName}}</td>
                    <td>{{transaction.barangName}}</td>
                    <td>{{transaction.transactionDate}}</td>
                    <td>
                        <a :href="'/transactions/updateTransaction?transactionId='+transaction.transactionId" class="btn btn-warning">
                            <fa-icon icon="edit"></fa-icon>
                            Edit
                        </a>

                        <button class="btn btn-danger" @click="deleteTransaction(transaction)">
                            <fa-icon icon="trash-alt"></fa-icon>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TranAppService, TransactionViewModel } from '../services/NSwagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: ListTransaction) {
            await this.getTransactions();
        }
    })
    export default class ListTransaction extends Vue {
        service: TranAppService = new TranAppService();
        transactionView: TransactionViewModel[] = [];

        async getTransactions(): Promise<void> {
            this.transactionView = await this.service.getAllTransaction();
        }
    }
</script>
