﻿@page
@model TranApp.Pages.Purchase.IndexModel
@{
}

<h1>Purchase List</h1>
<a href="~/Purchase/InsertPurchase">Insert</a>
<br />
<table border="1">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Purchases)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                @*<td>@item.PurchaseDate</td>*@
                <td>
                    <a href="~/Purchase/UpdatePurchase/@item.ProductId">Edit</a>
                    <a href="~/Purchase/DeletePurchase/@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <form method="post">
        <button class="btn btn-primary" type="submit">Order</button>
    </form>
</div>