﻿@page
@model TranApp.Pages.Purchase.InsertPurchaseModel
@{
}

<h3>Insert Cart</h3>
<form method="POST">
    <div>
        Product Name: <select asp-for="Form.ProductId">
    @foreach (var item in Model.ListProduct)
    {
        @*<option value="@item.ProductId">@item.ProductName</option>*@
        <option value="@item.ProductId">@item.ProductName, Stock: @item.Stock</option>
    }
</select>
    </div>
    <div>
        <label asp-for="Form.Quantity"></label>
        <input asp-for="Form.Quantity" />
        <span asp-validation-for="Form.Quantity"></span>
    </div>
    <br />
    <button type="submit">Add to Cart</button>
</form>
<div>
    <p>@Model.SuccessMessage</p>
</div>