<template>
    <div>
        <div class="card">
            <div class="card-body">

                <!-- Display the data grid. -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th v-for="column in visibleColumns" :key="column.columnName">
                                    <a href="#" @click="sort(column.columnId)">{{column.columnName}}</a>
                                    <fa-icon :icon="filter.iDsc === false ? 'sort-up' : 'sort-down'"
                                             v-if="filter.ob === column.columnId"></fa-icon>
                                </th>
                            </tr>
                            <tr>
                                <th v-for="column in visibleColumns" :key="column.columnName">
                                    <input v-if="column.isVisible === true && column.filterType === 'String'"
                                           type="text"
                                           v-model="filter[column.columnId]"
                                           @keyup.enter="fetch()"
                                           class="form-control" />
                                    <input v-if="column.isVisible === true && column.filterType === 'Number'"
                                           type="number"
                                           v-model="filter[column.columnId]"
                                           @keyup.enter="fetch()"
                                           class="form-control" />
                                    <div v-if="column.isVisible === true && column.filterType === 'NumberRange'"
                                         class="row">
                                        <div class="col-md-5">
                                            <input type="number"
                                                   v-model="filter[column.columnId + 'From']"
                                                   @keyup.enter="fetch()"
                                                   class="form-control" />
                                        </div>
                                        <div class="text-center col-md-2">
                                            <span>-</span>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number"
                                                   v-model="filter[column.columnId + 'To']"
                                                   @keyup.enter="fetch()"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data, index) in dataGrid.data" :key="index">
                                <td v-show="dataGrid.headers[dataIndex].isVisible === true"
                                    v-for="(item, columnId, dataIndex) in dataGrid.data[index]"
                                    :key="dataIndex">
                                    {{item}}
                                </td>

                                <td>
                                    <a href="'/link?column.columnId='+column.columnId" class="btn btn-warning">
                                        <fa-icon icon="edit"></fa-icon>
                                        Edit
                                    </a>
                                    <button class="btn btn-danger" @click="deleteTransaction(transaction)">
                                        <fa-icon icon="trash-alt"></fa-icon>
                                        Delete
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Display the total data. -->
                <div class="row">
                    <div class="col-12">
                        <span>Total data: {{ dataGrid.totalData }}</span>
                    </div>
                </div>

                <!-- Display pagination. -->
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Data Grid Page">
                            <ul class="pagination justify-content-center">
                                <li :class="['page-item', { disabled: filter.p <= 1 }]">
                                    <button type="button" @click="onPageChange(filter.p - 1)" class="page-link">&lt;</button>
                                </li>
                                <li :class="['page-item', { disabled: filter.p <= 1 }]">
                                    <button type="button"
                                            @click="onPageChange(1)"
                                            :disabled="filter.p <= 1"
                                            class="page-link">
                                        &lt;&lt;
                                    </button>
                                </li>
                                <li v-for="page in dataGrid.totalPage"
                                    :key="page"
                                    :class="['page-item', { active: page === filter.p }]">
                                    <button type="button" @click="onPageChange(page)" class="page-link">{{page}}</button>
                                </li>
                                <li :class="['page-item', { disabled: filter.p === dataGrid.totalPage }]">
                                    <button type="button"
                                            @click="onPageChange(dataGrid.totalPage)"
                                            class="page-link">
                                        &gt;&gt;
                                    </button>
                                </li>
                                <li :class="['page-item', { disabled: filter.p === dataGrid.totalPage }]">
                                    <button type="button"
                                            @click="onPageChange(filter.p + 1)"
                                            class="page-link">
                                        &gt;
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</template>
<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {
        DataGridModel,
        DataGridHeaderModel,
        EndpointDataGridModel
    } from "../../models/commons/DataGridModel";
    import loadingOverlayState from '../commons/LoadingOverlayState';
    import axios from "axios";

    @Component({
        // Reference: https://class-component.vuejs.org/guide/props-definition.html.
        props: {
            dataKey: {
                type: String,
                required: true
            },
            headers: {
                type: Array,
                required: true
            },
            endpoint: {
                type: String,
                required: true
            },
            orderByKey: {
                type: String,
                default: ""
            },
            isDescSort: {
                type: Boolean,
                default: true
            },
            itemPerPage: {
                type: Number,
                default: 5
            }
        },
        created: async function (this: DataGrid) {
            if (this.orderByKey !== "") {
                this.filter.ob = this.orderByKey;
            }

            this.filter.iDsc = this.isDescSort;

            this.filter.ipp = this.itemPerPage;

            this.dataGrid.headers = this.headersProp;

            await this.fetch();
        }
    })
    export default class DataGrid extends Vue {
        endpoint;
        headers;
        dataKey;
        orderByKey;
        isDescSort;
        itemPerPage;

        filter = {
            /**
             * Order by based on the key / column name that assigned into this property value.
             */
            ob: "",
            /**
             * Is order by descending. Default value is false.
             */
            iDsc: false,
            /**
             * The selected page index.
             */
            p: 1,
            /**
             * Item per page. Default value is 5.
             */
            ipp: 5
        };

        visibleDataGrid: object[] = [];

        loadingOverlayState = loadingOverlayState;

        dataGrid: DataGridModel = {
            headers: [],
            data: [],
            totalData: 0,
            totalPage: 0
        };

        async fetch(): Promise<void> {
            try {
                this.loadingOverlayState.toggle();

                const response = await axios.get<EndpointDataGridModel>(
                    this.endpointProp,
                    {
                        params: this.filter
                    }
                );

                this.dataGrid.data = response.data.data;
                this.dataGrid.totalData = response.data.totalData;

                this.dataGrid.totalPage = Math.ceil(
                    this.dataGrid.totalData / this.filter.ipp
                );

            } catch (e) {
                console.log(e);
            }
            finally {
                this.loadingOverlayState.toggle();
            }
        }

        async onPageChange(pageIndex: number): Promise<void> {
            this.filter.p = pageIndex;

            await this.fetch();
        }

        async sort(sortKey: string): Promise<void> {
            this.filter.iDsc = !this.filter.iDsc;
            this.filter.ob = sortKey;

            await this.fetch();
        }

        async updateLink(linkKey: string): Promise<void> {
            //this.filter.iDsc = !this.filter.iDsc;
            //this.filter.ob = sortKey;

            //await this.fetch();
        }

        get endpointProp(): string {
            return this.endpoint;
        }

        get headersProp(): DataGridHeaderModel[] {
            return this.headers;
        }

        get visibleColumns(): DataGridHeaderModel[] {
            return this.dataGrid.headers.filter(
                columnData => columnData.isVisible === true
            );
        }
    }
</script>