<template>
    <div v-if="isLoadingGetter"
         class="loading-overlay">
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import loadingOverlayState from './LoadingOverlayState';

    @Component({})
    export default class LoadingOverlay extends Vue {
        private loadingOverlayState = loadingOverlayState;

        get isLoadingGetter(): boolean{
            return this.loadingOverlayState.isLoading;
        }
    }
</script>