<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <data-grid :endpoint="endpoint"
                           :headers="headers"
                           :data-key="dataKey"
                           :order-by-key="orderByKey"></data-grid>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import DataGrid from "../../commons/DataGrid.vue";
import { DataGridHeaderModel } from '../../../models/commons/DataGridModel';

@Component({
    components: {
        // Add Vue component locally to this component.
        'data-grid': DataGrid
    }
})
/**
 * A Vue class component for Product page
 */
export default class IndexTaman extends Vue {
    endpoint = '/api/v1/taman';   
    dataKey = 'TamanID';
    orderByKey = 'TamanName';

    headers: DataGridHeaderModel[] = [
        {
            columnId: 'TamanID',
            columnName: 'TamanID',
            isVisible: false
        },
        {
            columnId: this.orderByKey,
            columnName: 'Taman Name',
            filterType: 'String',
            isVisible: true
        },
        {
            columnId: 'TamanLocation',
            columnName: 'Taman Location',
            filterType: 'String',
            isVisible: true
        },
        {
            columnId: 'TamanType',
            columnName: 'Taman Type',
            filterType: 'String',
            isVisible: true
        }
    ];
}
</script>