<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <data-grid :endpoint="endpoint"
                           :headers="headers"
                           :data-key="dataKey"
                           :order-by-key="orderByKey"></data-grid>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import DataGrid from "../../commons/DataGrid.vue";
import { DataGridHeaderModel } from '../../../models/commons/DataGridModel';

@Component({
    components: {
        // Add Vue component locally to this component.
        'data-grid': DataGrid
    }
})
/**
 * A Vue class component for Product page
 */
export default class ProductPage extends Vue {
    endpoint = '/api/v1/product';   
    dataKey = 'Pi';
    orderByKey = 'Pn';

    headers: DataGridHeaderModel[] = [
        {
            columnId: 'Pi',
            columnName: 'Product ID',
            isVisible: false
        },
        {
            columnId: this.orderByKey,
            columnName: 'Name',
            filterType: 'String',
            isVisible: true
        },
        {
            columnId: 'Pp',
            columnName: 'Price',
            filterType: 'NumberRange',
            isVisible: true
        },
        {
            columnId: 'Pd',
            columnName: 'Description',
            filterType: 'String',
            isVisible: true
        }
    ];
}
</script>